**/.*.swp
package_python.sh
build
dist
**/*egg-info*
scripts_ichthyop_v3_R.zip
plot_dens_Ichthyop_v3.R
oscar_ichthyop-run201706161408.nc
old_scripts
figs
doc/build
doc/source/savefig/plotting_example.png
doc/source/generated/
**/__pycache__
**/*.pyc
doc/source/_static/*png
doc/source/_static/movie.**
**/compile.sh

doc/_build
doc/generated
doc/_static/map*png
doc/_static/temp*png
